<section class="lulurpg">
	
	<article>
		<a href="<%= root_url %>" class="logo">LuLu RPG</a>
	</article>
	
	
	<article class="locked-website">
		<ul>
			<li class="locked-icon"></li>
			<li class="locked-text">Estamos preparando uma surpresa pra vocês</li>
			<li class="locked-icon locked-icon-right"></li>								
		</ul>
	</article>
	
	<section class="user-choice">
		<article class="evaluate">
			<h1>Quer avaliar?</h1>
			
			<a href="http://ask.fm/lulurpg" target="_blank" class="ask-fm">
				Ask Fm
			</a>
		</article>
		
		<article class="members-only">
			<h1>Acesso ao .doc de Avaliação?</h1>	
			
			<p>Este site é restrito apenas para os membros
			da comunidade LuLu ϟ RPG.</p>

			<p>Para receber sua chave de acesso, entre na comunidade pelo link abaixo:</p>
				
			<a class="access-cmm" href="http://www.orkut.com.br/Main#Community?cmm=124383125" target="_blank">Accessar Cmm</a>
		</article>
		
		<div class="clear"></div>
	</section>
	
	
</section>