<section class="no-slots">
	<div class="no-slots-logo">
		<%= image_tag "views/logo.png" %>
	</div>

	<div class="no-slots-text">
		<%= image_tag "views/home/text-endline.jpg" %>
	</div>

	<div class="no-slots-button">
		<a href="/">
			<%= image_tag "views/home/bt-endline.jpg" %>
		</a>		
	</div>

	<div class="no-slots-girl">
		<%= image_tag "views/home/girl-endline.jpg" %>
	</div>
</section>