// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	margin:30px;
	background-color:#ccc;	
}

* {
	font-family:Arial;
}

.casadabaro {
	margin:0 auto;
	padding:20px;
	width:700px;
	background-color:#fff;
	
	table {
		
		th {
			background-color:#eee;
		}
		
		th, td {
			font-size:14px;
			padding:5px;
		}
		
		td {
			border:1px solid #eee;
		}
		
	}
}

h1 {
	text-align:center;
	margin:0 auto;
	margin-bottom:20px;
}

.casadabaro-criar-chave {
	overflow:auto;	
	
	label {
		display:block;
		margin:20px;
	}
	
	input[type=text] {
		padding:5px;
		color:#000;
		border:1px solid #ddd;
		font-size:16px;
		letter-spacing:1px;
	}
	
	input[type=submit],input[type=button] {
		margin-left:100px;
		
		display:block;
		margin:0 auto;
		padding:5px;
		color:#000;
		border:1px solid #000;
		font-size:16px;
		letter-spacing:1px;		
		float:left;		
	}
	input[type=button] {

	}
}